<mat-card *ngIf="user">
    <mat-card-title>Welcome, {{ user.full_name }}</mat-card-title>

    <mat-card-content>
        <p>Role: {{ user.role }}</p>
    </mat-card-content>

    <mat-card-actions *ngIf="user.role === 'rider'">
        <button mat-raised-button color="primary" routerLink="/request-ride">
            Book a Ride
        </button>
    </mat-card-actions>

    <mat-card-actions *ngIf="user.role === 'driver'">
        <button mat-raised-button color="accent" routerLink="/ride-list">
            View Available Rides
        </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="!user">
    <mat-card-title>Welcome to Ride Hailing App</mat-card-title>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/login">Login</button>
    </mat-card-actions>
</mat-card>