.navbar {
  background: #1f2937;
  color: white;
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.links a:hover {
  text-decoration: underline;
}

.logout {
  color: #ff6b6b;
}
