<nav class="navbar">
  <div class="logo">🚗 Ride Hailing App</div>

  <div class="links">
    <a routerLink="/">Home</a>

    <!-- Not logged in -->
    <ng-container *ngIf="!user">
      <a routerLink="/auth">Login / Register</a>
    </ng-container>

    <!-- Logged in -->
    <ng-container *ngIf="user">
      <!-- Rider menu -->
      <ng-container *ngIf="user.role === 'rider'">
        <a routerLink="/ride/request">Request Ride</a>
        <a routerLink="/my-rides">My Rides</a>
      </ng-container>

      <!-- Driver menu -->
      <ng-container *ngIf="user.role === 'driver'">
        <a routerLink="/ride/list">Available Rides</a>
        <a routerLink="/ride/current">Current Ride</a>
      </ng-container>

      <a routerLink="/profile">Profile</a>
      <a (click)="logout()" class="logout">Logout</a>
    </ng-container>
  </div>
</nav>
